# Documentation build requirements (also mirrored as the [docs] extra in
# pyproject.toml). Used by the ReadTheDocs build.
sphinx>=8.0
pydata-sphinx-theme>=0.15
sphinx-design
sphinx-copybutton
myst-parser
nbsphinx
ipython  # provides the `ipython3` Pygments lexer nbsphinx uses to highlight notebook code cells
